@media screen and (min-width: 768px) {
  .Hero .Hero-menu .Hero-menu-routes {
    display: flex;
    justify-content: center;
  }

  .Story .list {
    margin: 0;
  }

  .Story .Story-abilities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .Story .Story-abilities-container  {
    width: 40%;
    margin: 5%;
  }


  /* Jett */

  .Jett {
    left: 50%;
  }

  .Weapons {
    width: 60%;
    height: 110px;
    display: -webkit-box;
    position: relative;
    top: -30px;
    overflow-x: scroll;
    justify-content: center;
  }
}

